* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(150px , auto));
    gap: 10px;
    margin: 0 auto;
    width: 75%;
    color: white;
}

#container div {
    padding: 30px;
    background-color: orange;
}

#container div:nth-child(even) {
    background-color: purple;
}
